@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: #2f2d26;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1190px;
  width: 100%;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.btn {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 40px;
  line-height: 40px;
  max-width: 200px;
  width: 100%;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 20px;
  background-color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(#7965ff), to(#4b82ff));
  background-image: linear-gradient(to right, #7965ff 0%, #4b82ff 100%);
  -webkit-box-shadow: 0 10px 30px rgba(98, 116, 255, 0.5);
  box-shadow: 0 10px 30px rgba(98, 116, 255, 0.5);
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

.header {
  background-color: #f6f6f6;
}

.header__wrapper {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__logo {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__logo-title {
  margin-left: 9px;
  color: #2f2d26;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.header__lang {
  margin-left: -100px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__lang svg {
  cursor: pointer;
}

.header__lang-switch {
  cursor: pointer;
  margin-left: 9px;
  margin-right: 10px;
  font-size: 12px;
  color: #a2a2a2;
  font-weight: 600;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__lang-switch:hover {
  color: #2f2d26;
}

.header__menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu-item {
  margin-right: 22px;
}

.header__menu-item a {
  color: #2f2d26;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 12px;
  font-weight: 600;
}

.header__menu-item a:hover {
  opacity: 0.5;
}

.header__menu-item:last-child {
  margin-right: 0px;
}

.header__all-instruments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: -100px;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__all-instruments:hover {
  opacity: .5;
}

.header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.header__profile:hover {
  opacity: .5;
}

.intro {
  background: url("../assets/img/intro/bg.jpg") no-repeat;
  background-size: cover;
  padding: 30px 0px 15px;
}

.intro__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro__content {
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro__title {
  color: #fff;
  margin-top: 82px;
  font-size: 42px;
  font-weight: 700;
  line-height: 54px;
}

.intro__title span {
  color: #ff8a4a;
}

.intro__subtitle {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.8;
  color: #f6f6f6;
  opacity: 0.5;
}

.intro .file {
  padding-bottom: 30px;
  position: relative;
}

.intro .file__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
}

.intro .file__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 470px;
  height: 170px;
  cursor: pointer;
}

.intro .file__border-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.intro .file__text {
  font-size: 14px;
  margin-top: 20px;
  color: #f6f6f6;
  margin-bottom: 10px;
  line-height: 1.7;
  opacity: 0.7;
}

.intro .file__btn {
  margin-bottom: -30px;
  height: 40px;
  line-height: 40px;
  max-width: 200px;
  width: 100%;
  padding: 0;
  border: 0;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  border-radius: 20px;
  background: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#7965ff), to(#4b82ff));
  background-image: linear-gradient(to right, #7965ff 0%, #4b82ff 100%);
  -webkit-box-shadow: 0 10px 30px rgba(98, 116, 255, 0.5);
  box-shadow: 0 10px 30px rgba(98, 116, 255, 0.5);
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: .2s;
  transition: .2s;
}

.intro .file__btn:hover {
  color: #0048ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
}

.intro__list {
  width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffffff;
  border-radius: 7px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 7px;
}

.intro__list-item {
  position: relative;
  width: calc(100% / 3);
  height: 190px;
  text-align: center;
  border-radius: 7px;
  background: #fff;
}

.intro__list-item:hover {
  border-radius: 7px;
}

.intro__list-item:hover .intro__item-link {
  width: 270px;
  height: 270px;
  left: -40px;
  top: -40px;
  z-index: 2;
}

.intro__list-item:hover .intro__item-text {
  max-width: 220px;
  display: block;
  margin-top: 10px;
}

.intro__list-item:hover::before {
  display: none;
}

.intro__list-item:hover::after {
  display: none;
}

.intro__list-item::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 2px;
  height: 70px;
  background-color: #f4f4f4;
}

.intro__list-item::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 70px;
  height: 2px;
  background-color: #f4f4f4;
}

.intro__item-title {
  margin-top: 20px;
  font-weight: 600;
  line-height: 1.5;
  z-index: 1;
  font-size: 14px;
}

.intro__item-link {
  text-decoration: none;
  color: #000000;
  background: #fff;
  border-radius: 7px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.intro__item-text {
  display: none;
  padding-top: 10px;
  width: 100%;
  font-size: 12px;
  color: #a2a2a2;
  line-height: 1.6;
  position: relative;
  display: none;
  max-height: 100px;
  overflow: hidden;
  width: 100%;
  font-size: 12px;
  color: #a2a2a2;
  line-height: 1.6;
  z-index: 1;
}

.reg {
  background-color: #f6f6f6;
  padding: 30px 0px 80px;
  text-align: center;
}

.reg__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg__arrow {
  display: block;
  width: 12px;
  height: 17px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.reg__title {
  margin-bottom: 20px;
  color: #151515;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
}

.reg__subtitle {
  color: #151515;
  opacity: 0.7;
  font-size: 20px;
  line-height: 1.8;
  text-align: center;
  margin-bottom: 40px;
}

.reg__btn {
  position: relative;
  margin: 10px;
  position: relative;
  z-index: 1;
}

.reg__btn::before {
  content: '';
  position: absolute;
  top: -10px;
  left: -10px;
  width: calc(100% + 20px);
  height: 60px;
  z-index: -1;
  opacity: 0.15;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left top, right top, from(#7965ff), to(#4b82ff));
  background-image: linear-gradient(to right, #7965ff 0%, #4b82ff 100%);
  pointer-events: none;
}

.reg__btn:hover {
  color: #0048ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
}

.reg__btn:hover::before {
  display: none;
}

.footer__wrapper-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 45px;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 450px;
  width: 100%;
}

.footer__menu-first, .footer__menu-second {
  list-style: none;
}

.footer__menu-item {
  margin-bottom: 15px;
}

.footer__menu-item a {
  color: #151515;
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__menu-item a:hover {
  opacity: .5;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__links {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footer__links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  border-radius: 50%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border: 2px solid #f6f6f6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer__links li a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.footer__auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__sigin {
  max-width: 110px;
  border: 2px solid transparent;
  line-height: 36px;
  margin-right: 20px;
}

.footer__sigin:hover {
  border-color: #7567ff;
  background: #fff;
  color: #7567ff;
}

.footer__signup {
  max-width: 130px;
  border: 2px solid transparent;
  line-height: 36px;
}

.footer__signup:hover {
  border-color: #7567ff;
  background: #fff;
  color: #7567ff;
}

.footer__wrapper-second {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f5f5f5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.3;
  color: #2f2d26;
  font-size: 12px;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */